astropy
bidict
cachelib
click
canopen
Flask
Flask-Login
Flask-Session
Flask-SocketIO
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
six
Werkzeug
zipp
sphinx
